.firstLayout {
	border: 1px solid #c5c4c4;
	padding: 0px 0 51px;
	border-radius: 3px;
	&__img {
		height: 27.7rem;
		width: 100%;
	}
	&__content {
		display: flex;
	}

	&__list {
		padding: 0;
		margin: 0;
	}

	&__logo {
		border: 1px solid #c6c4d1;
		border-radius: 3px;
		// width: 233px;
		width: 23%;
		text-align: center;
		padding: 7rem 1.5rem;
		margin-top: -4.4rem;
		margin-left: 1.6rem;
		background-color: white;
	}

}