.advancedSearch {
	display: block;
	margin-top: 40px;

	&__title {
		@include font($suir, 1.9rem, #4d4c4c);
		margin-bottom: 27px;
	}

	&__select {
		height: 40px;
		width: 180px;
		@include font($b, 1.6rem, #2e2e2e);
		padding-left: 10px;
		margin-right: 10px;
		&:nth-child(5) {
			width: 100px;
		}	
		&:last-child {
			width: 100px;
		}

	}

	&__selects {
		display: flex;
	}

	&__dropdown {
		@include font($b, 1.6rem, #0a0a0a);
		height: 41px;
		margin-left: 157px;
		background-color: #fff;
		border: 1px solid #c1c1c1;
	}

	&__dropdown-menu {
		left: -22px !important;
		top: 5px !important;
		transform: translate3d(101px, 41px, 0px) !important;
	}

	&__number {
		@include font($b, 1.5rem, #727272);
		margin-top: 38px;

	}
}