.awards {
	display: flex;
	margin-bottom: 25px;

	&__link {
		&:hover {
			text-decoration: none;
		}
	}

	&__heading {
		@include font($mpr, 1.9rem, #404040);
		margin-left: 3px;
		margin-bottom: 33px;
	}
	&__box{
		display: flex;
		width: 311px;
		&:not(:last-child){
			margin-right: 13px;
		}
	}
	&__logo {
		height: 60px;
		margin-right: 10px;
		display: flex;
		align-items: center;
		// padding: 0 0 0 12px;
		@include font($suir, 1.9rem, #4d4d4d);

	}
	&__img {
		// height: 100%;
		width: 50px;
		height: 50px;
	}

	&__title {
		@include font($suir, 1.5rem, #393939);

	}

	&__date{
		@include font($suisl, 1.2rem, #454646);
		margin-bottom: 0;

		
	}
	&__text {
		@include font($suisl, 1.6rem, #4e4c4c);
		margin-bottom: 0;
	}

	&__content {
		// padding: 0px 0px 0px 14px;
	}

	//edit uchun 

	&__editBox {
		display: flex;
		flex-direction:column;
		font-size: 26px;
	}

	&__editIcons {
		margin-top: 10px;
	}

	&__editLink {
		color: #6d6d6d;

		&:hover {
			color: #6d6d6d;
		}
	}

}