.budgetInfo {
	display: flex;
	align-items: center;
	margin-bottom: 27px;
	justify-content: space-between;

	&__title {
		@include font($suisb, 1.5rem, #3f3e3e);
	}

	&__select {
		@include font($suir, 1.6rem, #099999);
		height: 44px;
		width: 250px;
		padding-left: 10px;	
	}

	&__checkbox {
		width: 18px;
		height: 18px;
		margin-right: 15px;
	}

	&__text {
		@include font($suisl, 1.5rem, #099999);
		padding: 0 175px 0 0px;

	}
}