.budget {
	border: 1px solid #b5bebe;
	margin-top: 25px;

	&__link {
		@include font($suir, 1.5rem, #32bef1);

		&:hover {
			text-decoration: none;
			color: #32bef1;
		}
	}

	&__top {
		border-bottom: 1px solid #d8dadb;
		background-color: #f6fafb;
	}

	&__title {
		
		padding: 24px 0 24px 35px;

	}

	&__text {
		@include font($suir, 1.5rem, #3c3c3c);

	}

	&__bottom {
		padding: 24px 0 50px 35px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items:center;
	}

	&__yourRate {
		@include font($suisb, 1.5rem, #353535);
	}

	&__total {
		@include font($suisl, 1.5rem, #040404);

	}

	&__dolar {
		@include font($suib, 2.2rem, #b3bd4d);
		position: absolute;
		top: 5px;
		left: 10px;
	}
	&__form {
		position: relative;

	}
	&__input {
		height: 44px;
		width: 250px;
		text-align: right;
		padding-right: 10px;
		padding-left: 29px;

		@include font($suir, 1.6rem, #099999);



		&::placeholder {
			color: #131313;
            opacity: 1; /* Firefox */
        }

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #131313;
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
			color: #131313;
		}


	}

	&__recommendation {
		text-align: center;
		width: 22%;
		margin-right: 55px;
		@include font($suisl, 1.5rem, #252526);
		
	}

	&__img {
		margin-bottom: 20px;
		width: 60px;
		height: 58px;
	}
}