.editRecommendations {

	&__heading {
		@include font($mpr, 1.9rem, #404040);
		margin-bottom: 26px;
	}

	&__dots{
		display: flex;
	}

	&__top {
		display: flex;
		align-items:center;
		justify-content: space-between;
	}

	&__dot{
		width: 5px;
		height: 5px;
		border-radius:5px;
		background-color: #064a64;

		&:not(:last-child){
			margin-right: 3px;
		}
	}

	&__title{
		@include font($suisb, 1.5rem, #303030);


	}

	&__number{
		@include font($suisl, 1.5rem, #000000);

	}

	&__word{
		@include font($suir, 1.5rem, #000000);

	}

	&__bottom {
		display: flex;
		justify-content: space-between;
	}

	&__subtitle {
		@include font($suisb, 1.5rem, #303030);
		
	}


}