.features {
	border: 1px solid #b5bebe;
	margin-top: 25px;

	&__top {
		border-bottom: 1px solid #d8dadb;
		background-color: #f6fafb;
	}

	&__title {
		@include font($suisb, 1.8rem, #414141);
		padding: 24px 0 24px 35px;
	}

	&__subtitle {
		@include font($suisb, 1.8rem, #000);
		margin-left: 10px;
	}

	&__bottom {
		padding: 24px 0 50px 35px;
	}	

	&__heading {
		display: flex;
		align-items: center;
	}

	&__text {
		@include font($suisl, 1.6rem, #414141);
		margin-top: 7px;
		padding-right: 88px;
	}

	&__select {
		width: 257px;
		height: 42px;
		@include font($suisl, 1.6rem, #009999);
		padding-left: 17px;
		margin-top: 40px;
		margin-right: 15px;
		margin-bottom: 57px;
	}

	&__p {
		@include font($suisl, 1.5rem, #099999);
	}

	&__only {
		@include font($suisb, 1.5rem, #545454);
		margin-right: 3px;
	}

	&__topRated {
		@include font($suir, 1.6rem, #099999);

	}

	&__checkboxes {
		display: flex;
		align-items: center;
		margin-right: 40px;
	}

	&__checkbox {
		width: 15px;
		height: 15px;
		margin-right: 9px;
	}

	&__last {
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
	}

	&__lastLeft {
		display: flex;
		justify-content: space-between;
	}

	&__link {
		@include font($suisl, 1.5rem, #1a82a8);
		margin-right: 35px;
	}
}