.foundTender {
	display: flex;
	padding: 20px 20px 20px 0;
	margin-top: 14px;


	&__box {
		width: 78%;
		border: 1px solid #b5bebe;
		margin-bottom: 20px;
	}


	&__dots {
		display: flex;
	}

	&__dot {
		width: 5px;
		height: 5px;
		background-color: #064a64;
		border-radius: 5px;
		margin-right: 2px;
	}

	&__dropdown {
		// margin-left: 157px;
		background-color: #fff;
		border:none;

		&:hover {
			background-color: transparent;
		}

		&:focus {
			border:none !important;
		}
	}

	&__logo {
		text-align: center;
		width: 64%;
	}

	&__logoTitle{
		@include font($suir, 1.4rem, #2e2e2e);
		margin-top: 15px;

	}

	&__mainTitle {
		@include font($suisb, 1.5rem, #1c1b1b);
		margin-bottom: 20px;


	}

	&__mainBudget {
		@include font($suisb, 1.4rem, #1c1b1b);
	}

	&__mainText {
		@include font($suisl, 1.5rem, #706e6e);
	}
	&__activeItem {
		background-color: #418bc9;
		color: #fff;
	}

	&__item {
		&:hover {
			background-color: #418bc9;
			color: #fff;
		}
	}

	&__dropdown-menu {
		top: 3px !important;
		left: -145px !important;
	}

	&__link {
		@include font($suir, 1.4rem, #9987d2);
		&:hover {
			text-decoration: none;
			color: #9987d2;
		}

	}

	&__dropdown-item {
		@include font($suir, 1.5rem, #099999);

	}

	&__bottom {
		border-top: 1px solid #d8dfdf;
		display: flex;
		justify-content: space-between;
		align-items:center;
		padding: 10px 20px;

	}

	&__time {
		display: flex;
		align-items:center;
		color: #727272;
	}

	&__leftDays {
		@include font($b, 1.3rem, #727272);
		margin-bottom: 0 !important;
		margin-left: 4px;
	}

	&__img {
		width: 80px;
		height: 80px;
	}

	&__video {
		@include font($suil, 1.6rem, #3f3f3f);
		text-align:left;
		margin-top: 10px;
		
	}

	&__videoBox {
		text-align: right;
		width: 20%;
	}

	&__pagination {
		margin-left: 240px;
	}

	
}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	color: #2e2e2e;
	background-color: transparent;
	border-color: transparent !important;
}

.firstFoundTender {
	display: flex;
	justify-content:space-between;
}