.homeTop {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	align-items:center;

	&__logo {
		width: 166px;
		height: 50px;
	}

	&__link {
		padding: 15px 24px;
		@include font($suisl, 1.8rem, #282b2c);
		display: inline-block;
		text-align: center;
		margin-top: 0 !important;

		border-width: 1px;
		border-color: rgb(198, 198, 198);
		border-style: solid;
		border-radius: 2px;



		&:hover {
			text-decoration: none;
			color: #282b2c;
		}

		&--1 {
			border-color:transparent;
			padding: 15px 42px;


		}		

		&--2 {
			width: 205px;

		}

	}



}