.news {
	display: flex;

	&__left {
		width: 70%;
	}

	&__right {
		width: 30%;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #c6c2c2;
		padding-bottom: 38px;
	}

	&__btn {
		background-color: #fff;
		border-width: 1px;
		border-color: rgb(198, 194, 194);
		border-style: solid;
		border-radius: 3px;
		color: #000;
		@include font($suir, 1.3rem, #343434);
		padding: 9px 14px;

		&:hover {
			color: #000;
			background-color: #fff;

		}

	}

	&__caret-down {
		margin-left: 19px;
	}

	&__title {
		@include font($suir, 2.6rem, #766f6f);

	}

	&__subtitle {
		@include font($suir, 1.6rem, #434141);

	}

	&__dropdown {
		transform: translate3d(0px, 39px, 0px);
		top: 7px !important;
		left: -35px !important;
		width: 140px;

	}

	&__dropdown-item {
		@include font($suir, 1.3rem, #4f4f4f);

	}

	&__content {
		display: flex;
	}

	&__img {
		width: 314px;
		height: 226px;
	}

	&__shortText {
		@include font($suisl, 1.6rem, #6c6c6c);
		margin-left: 33px;
		text-align: justify;
		margin-top: 0;
		margin-bottom: 0;

	}

	&__title2 {
		@include font($suir, 2.1rem, #2e2e2e);
		margin-top: 50px;
		margin-bottom: 25px;

	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 25px;
		border-bottom: 1px solid #c6c2c2;
		padding-bottom:25px;

		&--last {
			border: none;
		} 
	}

	&__link {
		@include font($suisl, 1.4rem, #32bef1);
		border-width: 0.88px;
		border-color: rgb(198, 194, 194);
		border-style: solid;
		border-radius: 3px;
		padding: 13px 21px;
		display: inline-block;

		&:hover {
			text-decoration: none;
			color: #32bef1;
			background-color: blue;
		}

	}

	&__authorBox {
		margin-bottom: 0;
	}

}