.noTenderFlag {
	text-align: center;
	padding: 90px 0 0 0;

	&__title {
		@include font($suib, 2.7rem, #626262);
		margin:35px 0 25px 0;
	}

	&__text {
		@include font($suisl, 2.1rem, #099999);
		padding: 0 266px;
	}
}