.partnerRequest {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-width: 1px;
	border-color: rgb(181, 190, 190);
	border-style: solid;
	border-radius: 2px;
	background-color: rgb(255, 255, 255);
	padding: 15px 25px;
	margin-bottom: 9px;

	&__title {
		@include font($suir, 1.5rem, #000 );
		border-bottom:  0.5px solid #f0f0f1 ; 
		padding-bottom: 7px;
		margin-top: 44px;

	}

	&__logo {
		border-style: solid;
		border-width: 1px;
		border-color: #c6c4d1;
		border-radius: 3px;
		padding: 10px 8px;
		margin-right: 18px;
	}

	&__companyName {
		@include font($suisl, 1.6rem, #222222 );

	}

	&__type {
		@include font($suir, 1.3rem, #7c7b7b );

	}

	&__request {
		@include font($suir, 1.3rem, #101010 );

	}

	&__hourglass {
		@include font($suir, 1.3rem, #099999 );
		text-align: right;
		margin-top: 12px;
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__right {
		margin-top: 18px;
	}

	&__partnership {
		color: #0089d0;
	}

	&__btn {
		border-color: transparent;
		background-color:transparent;
		@include font($suisl, 1.5rem, #099999 );
		display: flex;


		&:hover {
			background-color: transparent;
			border-color: transparent;
			color: #099999
		}
	}

	&__sort-desc {
		margin-left: 9px;
	}

	&__partnersTotal {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom:  0.5px solid #f0f0f1 ; 
		padding-bottom: 7px;
		margin-top: 20px;

	}

	&__title2 {
		@include font($suir, 1.5rem, #000 );

	}



}
