.postTenderBudget {
	border: 1px solid #b5bebe;
	margin-top: 25px;

	&__top {
		border-bottom: 1px solid #d8dadb;
		background-color: #f6fafb;
	}

	&__left {
		width: 36%;
	}

	&__right {
		width: 57%;
		display: flex;
	}

	&__title {
		@include font($suisb, 1.8rem, #414141);
		padding: 24px 0 24px 35px;

	}

	&__bottom {
		padding: 24px 0 50px 35px;
		display: flex;
		justify-content: space-between;
	}

	&__text {
		@include font($suir, 1.6rem, #414141);
		padding: 40px 0 0 35px;

	}


	&__dolar {
		@include font($suib, 2.2rem, #b3bd4d);
		position: absolute;
		top: 6px;
		left: 90px;
	}
	&__form {
		position: relative;

	}
	&__input {
		height: 44px;
		width: 250px;
		text-align: right;
		font-size: 16px;
		padding-right: 10px;

	}



}