.recentTender {
	display: flex;
	align-items: center;

	&__right {

	}

	&__left {
		
	}


	&__heading {
		@include font($suisl, 1.6rem, #1e1c1c);

	}

	&__title {
		@include font($suir, 1.3rem, #424040);

	}

	&__text {
		@include font($suil, 0.9rem, #797575);

	}

	&__img {
		border: 1px solid #c0c0ce;
		padding: 10px 8px;
	}

}