.recommendModal {
	min-width: 782px;

	&__rate {
		@include font($suir, 1.6rem, #2a2a2a);
		border-left: 5px solid #dbbe53;
		padding-left: 5px;

	}

	&__rateBox {
		display: flex;
		align-items: center;
		margin-bottom: 13px;
	}

	&__out {
		@include font($suir, 1.5rem, #000);

	}

	&__select {
		padding-left:33px;
		@include font($suisb, 1.8rem, #000);
		border: 1px solid #a9a9a9;
		margin-left: 8px;
		margin-right: 13px;
		width: 104px;
		height: 44px;

	}

	&__feedbackBox {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	&__feedback {
		@include font($suir, 1.6rem, #3f3f3f);
	}

	&__character {
		@include font($suir, 1.3rem, #5a5555);
	}

	&__title {
		@include font($suir, 1.8rem, #000000);
	}
	
	&__text {
		@include font($suir, 1.6rem, #5a5555);
		margin-top: 14px;
		margin-bottom: 23px;
		padding-right: 40px;
	}

	&__textarea {
		@include font($suisl, 1.5rem, #747474);
		padding: 13px 16px;
		width: 100%;	
		height: 124px;
		border-radius: 2px;
		border-color: #c6c6c6;
	}

	&__header {
		height: 60px;
		padding: 20px 25px 23px 40px;
	}

	&__content {
		border: none;
	}

	&__body {
		padding: 20px 25px 23px 40px;
	}

	&__footer {
		padding: 0 25px 8px 40px;
	}
}