.relatedLink {
    font-size: 11.5pt;
    font-family: "Segoe UI";
    color: rgb(63, 63, 63);
    line-height: 1.2;

    &__description {
        p {
            background-color: white;
        }
    }
}
  