.signIn {
	text-align: center;
	height: 768px;
	padding: 130px 0 200px 0;
	&__box {
		width: 440px;
		margin: 0 auto;
	}

	&__title {
		@include font($suisb, 2.2rem, #b3bd4d);
		margin-bottom: 35px;

	}	

	&__subtitle {
		@include font($suir, 1.8rem, #5b5b5b);
		margin-bottom: 45px;

	}

	&__input {
		width: 440px;
		height: 50px;
		display: block;
		margin-bottom: 30px;
		@include font($suisl, 1.6rem, #099999);
		padding: 0px 10px;

	}

	&__signIn {
		display: block;
		@include font($suisb, 1.9rem, #fff);
		background-color: #3abff0;
		padding: 12px 0;
		margin-bottom: 35px;

		// width: 35.7%;

		&:hover {
			text-decoration: none;
			color: #fff;
		}

	}

	&__checkbox {
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;

		// width: 35.7%;
	}

	&__forget {
		@include font($suir, 1.4rem, #099999);

		&:hover {
			text-decoration: none;
			color:#099999;
		}

	}	

	&__rememberBox {
		display: flex;
		align-items: center;
	}

	&__remember {
		@include font($suisl, 1.5rem, #4b4b4b);
		margin-left: 5px;

	}

	&__signUp {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__compalleMember {
		@include font($suisl, 1.6rem, #000000);
		margin-bottom: 0;
		margin-right: 10px;

	}

	&__signUpLink{
		@include font($suisl, 1.6rem, #009999);

		&:hover {
			text-decoration: none;
			color: #009999;
		}

	}


}