.success {
	min-width: 480px;

	&__footer {
		background-color: #32bef1; 
		padding: 17px;
		color: #fff;
	}

	&__content {
		padding-bottom: 0;
		text-align: center;
	}

	&__icon {
		width: 60px;
		height: 60px;
		
		margin-bottom:24px ;

	}

	&__title {
		@include font($suib, 2.7rem, #5c5b5b);

	}	

	&__text {
		@include font($suir, 1.8rem, #5c5b5b);
		margin-top: 7px;


	}

	&__link {
		@include font($suisb, 1.4rem, #fff);

		&:hover {
			color: #fff;
			text-decoration: none;
		}

	}

	&__body {
		padding: 50px 50px 38px 50px;
	}
}

.reactivateTenderModal {
	min-width: 480px;
}

.reactivateTenderModal-content {
	padding: 0 !important;
	border: none;
}

.reactivateTenderModalFooter {
	display: flex;
	justify-content: space-between;
	background-color: #32bef1;
	color: #fff;
	padding: 10px 30px;
}

.reactivateCancel {
	background-color: transparent;
	border-color: transparent;
	@include font($suisb, 1.5rem, #fff);


	&:hover {
		background-color: transparent;
		border-color: transparent;
	}
}

.reactivateConfirm {
	background-color: transparent;
	border-color: transparent;
	@include font($suisb, 1.5rem, #fff);

	&:hover {
		background-color: transparent;
		border-color: transparent;
	}
}

.reactivateTenderHeader {
	background-color: #ebf4f6;
	padding: 30px 37px 25px 38px;
	border-bottom: 1px solid #d6d6d6;
}

.reactivateTenderTitle {
	@include font($suir, 1.9rem, #000);
}

.reactivateTenderMessage {
	@include font($suir, 1.3rem, #606060);
}

.reactivateTenderDeadline {
	@include font($suisb, 1.5rem, #3f3e3e);
}

.reactivateTenderModalBody{
	padding: 23px 0 25px 39px;
	
}
