.trustedCompanies {
	text-align: center;
	&__title {
		@include font($suisb, 2.6rem, #4b4b4b);
		margin-bottom: 70px;
	}

	&__links {
		width: 96%;
		margin: 0 auto;
		text-align: center;
		border: 1px solid #d7d8db;

	}

	&__link {
		@include font($suisb, 1.3rem, #4b4b4b);
		padding: 20px 39px;
		display: inline-block;
		border-right: 1px solid #d7d8db;

		&--1 {
			border-left:none;
		}

		&--2 {
			border-right:none;
		}
		&:hover {
			text-decoration: none;
			color: #4b4b4b;
		}
	}
}