      <!-- aboutFooter -->
      <footer class="aboutFooter">

      	<!-- First Footer Nav -->
      	<div class="aboutFooter__top">

      		<ul class="aboutFooter__nav">
      			<li class="aboutFooter__navItem"><a href="#" class="aboutFooter__link active" title="">About Us</a></li>
      			<li class="aboutFooter__navItem"><a href="#" class="aboutFooter__link" title="">FAQs</a></li>
      			<li class="aboutFooter__navItem"><a href="#" class="aboutFooter__link" title="">Advertise</a></li>
      			<li class="aboutFooter__navItem"><a href="#" class="aboutFooter__link" title="">Membership</a></li>
      			<li class="aboutFooter__navItem"><a href="#" class="aboutFooter__link" title="">Help</a></li>
      			<li class="aboutFooter__navItem"><a href="#" class="aboutFooter__link" title="">Contact</a></li>
      			<li class="aboutFooter__navItem">Language : &nbsp;&nbsp; <a href="#" class="aboutFooter__link" title=""></a>

      				<select class="aboutFooter__select">
      					<option selected="selected">English</option>
      					<option >Russian</option>

      				</select>

      			</li>

      		</ul>

      	</div>
      	<!-- /First Footer Nav -->

      	<!-- Second Footer Nav -->
      	<div class="aboutFooter__bottom">
      		<ul class="aboutFooter__list">
      			<li class="aboutFooter__listItem"><a href="#" class="aboutFooter__listLink" title="">
      				<img src="../img/logo.png" class="img-fluid aboutFooter__logo" alt="">
      			</a></li>
      			<li class="aboutFooter__listItem"><a href="#" class="aboutFooter__listLink" title="">User Agreement</a></li>
      			<li class="aboutFooter__listItem"><a href="#" class="aboutFooter__listLink" title="">Privacy Policy</a></li>
      			<li class="aboutFooter__listItem"><a href="#" class="aboutFooter__listLink" title="">Cookie Policy</a></li>
      			<li class="aboutFooter__listItem"><a href="#" class="aboutFooter__listLink" title="">Copyright Policy</a></li>
      		</ul>
      	</div>
      	<!-- /Second Footer Nav -->


      </footer>
      <!-- /footer -->