<div class="headerFourth">
	<img src="..assets/img/logo.png" class="headerFourth__logo" alt="">
	<div class="headerFourth__right">
		<a href="#" title="" class="headerFourth__link">Back to Cofinden</a>


		<div class="nav-item headerNav__item dropdown">
			<a class="nav-link headerNav__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<div class="dropdownIcon headerFourth__dropdownIcon">
					<i class="fa fa-bars" aria-hidden="true"></i>
					<span class="dropdownIcon__line">|</span>
					<i class="fa fa-angle-down" aria-hidden="true"></i>

				</div>
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Membership</a>
				<a class="dropdown-item notificationBoxShow" href="#">Notifications</a>
				<a class="dropdown-item" href="#">Privacy Policy</a>
				<a class="dropdown-item" href="#">Settings</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Log out</a>
			</div>
		</div>
		
	</div>
</div>