	<div class="leftSide">
			<div class="leftSide__top"></div>
			<div class="leftSide__content">
				<div class="leftSide__logo">
					<img src="assets/img/fedex.png" class="img-fluid leftSide__img" alt="">
				</div>

				<h2 class="leftSide__title">Fedex Corporation Limited</h2>
				<h2 class="leftSide__subtitle">Logistics</h2>

				<ul class="leftSide__firstList">
					<li class="leftSide__firstListItem">Rating <span class="leftSide__firstListValue">7.9</span></li>
					<div class="leftSide__firstListLine"></div>
					<li class="leftSide__firstListItem">Status <span class="leftSide__firstListValue">Pre</span></li>
					<div class="leftSide__firstListLine"></div>
					<li class="leftSide__firstListItem">Profile <span class="leftSide__firstListValue">100%</span></li>
				</ul>

				<ul class="leftSide__secondList">
					<a href="#" title="" class="leftSide__secondLink">
						<li class="leftSide__secondListItem">
							<div class="leftSide__secondListItemLeft">
								<span><img src="assets/img/mainBoardIcon.png" alt=""></span>
								<span class="leftSide__secondListName">&nbsp;Main Board</span>
							</div>
							<span class="leftSide__secondListCount">3</span>
						</li>
					</a>
					<a href="#" title="" class="leftSide__secondLink">
						<li class="leftSide__secondListItem">
							<div class="leftSide__secondListItemLeft">
								<span><img src="assets/img/messageIcon.png" alt=""></span>
								<span class="leftSide__secondListName">Messages</span>
							</div>
							<span class="leftSide__secondListCount">23</span>
						</li>
					</a>
					<a href="#" title="" class="leftSide__secondLink">
						<li class="leftSide__secondListItem">
							<div class="leftSide__secondListItemLeft">
								<span><img src="assets/img/handshaking.png" alt=""></span>
								<span class="leftSide__secondListName">Partners</span>
							</div>
							<span class="leftSide__secondListCount">1</span>
						</li>
					</a>
					<a href="#" title="" class="leftSide__secondLink">
						<li class="leftSide__secondListItem">
							<div class="leftSide__secondListItemLeft">
								<span><img src="assets/img/newsIcon.png" alt=""></span>
								<span class="leftSide__secondListName">News</span>
							</div>
						</li>
					</a>
				</ul>
			</div>

			<div class="leftSide__bottom">
				<p class="leftSide__bottomSentence">Get access to all tools and possibilities</p>
				<a href="#" title="" class="leftSide__bottomLink"> <img src="assets/img/PremiumIcon.png" alt="">Try Premium Membership</a>
			</div>
		</div>