$aznb:jaznb;
$suir:SegoeUI-Regular;
$suisl:SegoeUI-Semilight;
$cgr:CenturyGothic-Regular;
$cgb:century-gothic-bold;
$suisb:SegoeUI-SemiBold;
$suil:SegoeUI-Light;
$mpr:MyriadPro-Regular;
$suib:SegoeUI-Bold;
$b:bahnschrift;
